{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/favicon.ico' %}"
    />
    <title>Mk AI Translator</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Tenor Sans"
      rel="stylesheet"
    />
    <link href="{% static 'css/default-style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/index.css' %}" rel="stylesheet" />
  </head>

  <body style="font-family: Tenor Sans">
    <div class="container-fluid active">
      <section>
        <nav class="nav-bar">
          <a class="nav-title" href="/">GPT Platform</a>
          <a class="nav-subtitle" href="/" style="margin-left: 25%"
            >DOCUMENT TRANSLATOR</a
          >
          <a class="nav-subtitle" href="/">VOICE</a>
          <a class="nav-subtitle" href="/">VIDEO</a>
        </nav>
        <a href="/">
          <img src={%static "/assets/homepage_image.svg"%} class="index-img">
        </a>
        <img src={%static "/assets/scroll-down-icon.gif"%} class="scroll-down"></img>
      </section>
    </div>
    <div class="container-fluid reveal" style="background: linear-gradient(to right, #89CFF0, #1D8EB8)">
      <section>
        <div class="cards">
          <div class="text-card">
            <a href="/">
              <img src={%static "assets/documenttrans_icon.svg"%}
              class="function-img">
            </a>
          </div>
          <a href="/"class="function-title">DOCUMENT TRANSLATOR<a>
        </div>
      </section>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/index.js' %}"></script>
</html>
